body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafaa5;
    margin: 0;
    overflow: hidden;
}

#game-status-container,
#score,
#message,
#timer,
#author,
#reset-button {
    font-family: "Pixelify Sans", serif;
}

#game-status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    height: 60px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

#score,
#message {
    margin: 5px 0;
    text-align: center;
}

#score {
    font-size: 24px;
}

#message {
    font-size: 20px;
    color: #333;
}

.card {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    background-image: url('image/cards.jpg');
}

#timer,
#author {
    font-size: 30px;
}

#timer {
    margin-top: 20px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    color: #333;
}

#author {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 2.5px red;
    background-color: #fafaa5;
    border: none;
}

#reset-button:hover {
    transform: scale(1.2);
}

.snowflake {
    position: absolute;
    top: -10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translate(-25vw, 100vh);
    }
}