body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: "Pixelify Sans", serif;
}

#status,
.alert {
    display: flex;
    align-items: center;
}

#status {
    flex-direction: column;
    margin-bottom: 20px;
    height: 60px;
    position: relative;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

#score {
    margin: 5px 0;
    text-align: center;
    font-size: 50px;
}

#score.positive {
    color: blue;
}

#score.negative {
    color: red;
}

.score-change {
    position: absolute;
    font-size: 30px;
    animation: fade-out 1s forwards;
}

.score-inc {
    color: green;
}

.score-dec {
    color: orange;
}

.card {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    background-image: url('image/cards.jpg');
}

.alert {
    position: fixed;
    bottom: 100px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
    font-size: 25px;
}

.alert.show {
    display: flex;
}

#timer,
#author {
    font-size: 30px;
    position: fixed;
    right: 20px;
}

#timer {
    bottom: 60px;
    letter-spacing: 0.1em;
}

#timer.shake {
    animation: shake 1s infinite;
}

#timer.blue {
    color: blue;
}

#timer.red {
    color: red;
}

#timer .time-blue {
    color: blue;
}

#timer .time-red {
    color: red;
}

#author {
    bottom: 20px;
}

#new-game {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 3px red;
    border: none;
    background-color: white;
    font-family: "Pixelify Sans", serif;
}

#new-game:hover {
    transform: scale(1.2);
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10%,
    90% {
        transform: translate(-1px, -1px) rotate(-0.5deg);
    }

    20%,
    80% {
        transform: translate(-2px, 0px) rotate(0.5deg);
    }

    30%,
    70% {
        transform: translate(2px, 1px) rotate(0deg);
    }

    40%,
    60% {
        transform: translate(1px, -0.5px) rotate(0.5deg);
    }

    50% {
        transform: translate(-1px, 1px) rotate(-0.5deg);
    }
}